body {
    background-color:  #F6E5DC;
    font-family: Verdana;
}
.header {
    background-color: #2F180C;
    text-align: center;
    height: 60px;
    color: khaki;
}
.lewy {
    width: 60%;
    float: left;
}
.prawy {
    font-size: 150%;
    padding: 70px;

}
.dolny {
    background-color: #D0B6A8;
    text-align: center;
    padding: 30px;
    clear: both;
}
.footer {
    background-color: #2F180C;
    color: khaki;
    height: 60px;
    width: 100%;
    float: inline-end;
    clear: both;

}
img {
    height: 350px;
}
button {
    margin: 10px;
    padding: 5px;
    background-color: #2F180C;
    color: khaki;
}
